
body {
  font-family: 'Arial', sans-serif; 
  background-color: #f9f9f9; 
  margin: 0;
  padding: 0;
}

.carousel img {
  max-height: 340px;  
  width: 100%;       
  object-fit: cover;  
}



.product-grid {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  margin: 20px 0; /
}


.product-card {
  flex: 0 1 calc(33.333% - 20px); 
  margin-bottom: 20px; 
  text-align: center; 
  border: none; 
  overflow: hidden; 
  border-radius: 10px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
  background-color: #fff; 
  transition: transform 0.3s, box-shadow 0.3s; 
}


.product-image {
  width: 100%;
  max-height: 500px; 
  object-fit: contain; 
  display: block; 
  margin: 10px auto; 
  border-radius: 5px; 
}


.product-title {
  font-size: 1.2rem; 
  font-weight: bold; 
  margin: 10px 0; 
  color: #333; 
}

.product-price {
  font-size: 1rem; 
  color: #2c3e50; 
  margin: 5px 0; 
  font-weight: bold; 
}

.product-card:hover {
  transform: translateY(-5px); 
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .product-grid {
    flex-direction: column; 
    align-items: center; 
  }

  .product-card {
    flex: 1 0 90%; 
  }
}



.offer-image {
  flex: 0 1 calc(100% - 20px); 
  margin: 20px auto; 
  text-align: center; 
}




.offer-image-full {
  width: 100%; 
  margin: 20px 0;
  text-align: center; 
}

.offer-image-full img {
  width: 100%; 
  height: auto; 
  border-radius: 10px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

